:root {
    height: 100%;
}

#resume_page {
    position: relative;
    top: 50px;
    font-size: 1rem !important;
}

#resume_page :is(section, article) {
    min-height: auto !important;
}

#resume_page .display-4 {
    font-size: xx-large !important;
}

#resume_page ul {
    list-style-type: square !important;
    list-style-position: inside;
}

#resume_page > .navbar {
    margin: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
    display: block;
    height: 10px;
    position: fixed !important;
    top: 0;
    width: 100%;
    padding: 5px;
    z-index: 20;
}

#resume_page > .navbar:hover {
    height: 50px;
    display: inline;
}


#resume_page > .navbar > ul {
    opacity: 0 !important;
    transition: opacity .75s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 3rem;
}

#resume_page > .navbar:hover > ul {
    opacity: 1 !important;
}

#resume-page .navbar > ul > li {
    display: inline;
}

#resume-page li {
    line-height: 2rem !important;
}