@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

#root {
    font-family: 'Source Code Pro', monospace;
}

@keyframes rise {
    from {top: 10vh;}
    to {top: 100vh;}
}

@keyframes mobile-nav {
    from {
        max-height: 100%;
    }
    to {
        max-height: 5px;
    }
}

@keyframes top-nav-appear {
    from {
        /* display: flex; */
        opacity: 0;
        /* transform-origin: right;
        transform: scaleX(0); */
    }
    to {
        /* display: flex !important; */
        opacity: 1;
        /* transform: scaleX(1); */
    }
}

html {
    font-size: calc(45% + 1vw) !important;
    scroll-behavior: smooth;
}

section {
    position: relative;
}

.frame {
    position: relative;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 80%;
    height: auto !important;
    margin-bottom: 0 auto;
    padding-bottom: 2vmin !important;
    border: 3px solid lightgrey;
    padding: 3%;
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;
    background-color: black;
    box-shadow: 0 0 30px grey;
}

.frame:after {
  display: block;
  position: relative;
  top: calc(0.7vmax + 2vmin) !important;
  z-index: 100 !important;
  content: "";
  width: 25%;
  height: 0.7vmax;
  background-image: linear-gradient(90deg,#585858 0%, #707070 5%, #c0c0c0 10%, #c0c0c0 90%, #707070 95%, #585858 100%);
  transform: perspective(10px) rotateX(-1deg);
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 0 auto;
}

.frame img {
    width: 100% !important;
    margin: auto;
    height: auto !important;
    position: relative;
}

.cover {
    display: block;
    position: relative;
    height: 2vmin;
    width: 100%;
    background-color: lightGrey;
    border-radius: 2px;
    background-image: linear-gradient(90deg,grey 0, white 2%, lightGrey 5%, grey 10%, lightGrey 50%, grey 90%, lightGrey 95%, white 98%, grey 100%);
    margin-bottom: 50px;
}

.cover:after {
  content: "";
  display: block;
  position: relative;
  top: 2vmin;
  left: 1%;
  box-shadow: 0 10px 30px;
  width:98%;
  height: 20px;
  background-image: linear-gradient(0deg,#585858 0%, #707070 25%, #c0c0c0 100%);
  transform: perspective(10px) rotateX(-1deg);
  border-radius: 0 0 0.5rem 0.5rem;
}

.sun_moon {
    mix-blend-mode: screen;
    position: relative;
    z-index: 1;
}

.sun_moon svg {
    position: fixed;
    left: calc(50% - 50vw);
    fill: transparent;
    stroke: "none";
    animation: rise 2s ease 0s 1 reverse forwards;
    height: 100vw;
    width: 100vw;
}

.sun_moon > svg > circle {
    fill: gold;
}

#about_me  {
    background-image: linear-gradient(lightBlue 0%, lightblue 30%, skyBlue 30%, skyBlue 75%, #42a7d6 75%, #42a7d6 100%);
}


.me img {
    z-index: 4;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #00000088;
    background-color: #ffffff33;
    shape-outside: circle(50%);
}

.me {
    position: relative;
    z-index: 4;

    bottom: 0;
}

#portfolio {
    background: #ffffffcc;
}

#portfolio article {
    position: relative;
}

section > *, article > * {
    position: relative;
    z-index: 10;
}

#skills * {
    position: relative;
}

#toc {
    background-image: linear-gradient(skyBlue 0%, skyBlue 85%, lightBlue 85%, lightBlue 100%);
}


body {
    background-color: transparent !important;
    background-size: auto 100vmax;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    isolation: isolate;
}

main {
    overflow-x: hidden;
    scroll-snap-type: mandatory !important;
    scroll-snap-points-y: repeat(100vh) !important;
}

main .container-fluid {
    scroll-snap-align: start !important;
} 

nav.navbar, footer span {
    /* this simulates a border around the nav text */
    text-shadow: -1px -1px 0 white,  
        1px -1px 0 white,
        -1px  1px 0 white,
        1px  1px 0 white;
    background-color: transparent;
} 

.mobile {
    min-height: 30px;
    height: auto;
}

.nav-animation-appear {
    animation: mobile-nav 0.25s ease-in-out 0s 1 reverse backwards;
}

.mobile > nav {
    position: absolute;
    bottom: 0;
    min-height: auto;  
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.mobile > nav small {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0;
}

.mobile > nav > ul {
    background: white;
    mix-blend-mode: screen;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid #333;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.mobile > nav  > ul > li {
    display: inline;
    font-size: x-large;
    width: 25%;
}

.mobile > nav > ul > li > a {
    color: #888;
}

.mobile > nav > ul > li > a:hover{
    color: black;
    text-decoration: none;
}

#navbarNav > ul > li {
    position: relative !important;
    background-color: white;
    border-radius: 50% 50% 0 0;
    box-shadow: 0 0 15px white;
    width: auto !important;
    float: right;
}

nav * {
    background-color: transparent;
    width: auto;
}

.sub-nav-content {
  /* transform: scaleX(0); */
  /* display: none !important; */
  opacity: 0;
  /* max-width: 0; */
  overflow: hidden;
  position: absolute;
  right: 1rem;
  width: auto;
  flex-basis: 100%;
  flex-shrink: none !important;
  z-index: 1;
  background-color: #ffffffdd;
  box-shadow: 0 0 15px white;
  justify-content: flex-end;
  flex: row;
  border-radius: 2rem 0 2rem 2rem;
}

.sub-nav {
  float: right;
  overflow: hidden;
  width: auto;
}

.sub-nav {
    background-color: white;
    border-radius: 50% 50% 0 0;
    box-shadow: 0 0 15px white;
    min-width: 0;
}

ul.sub-nav > li {
  left: 10px !important;
  display: inline;
}

.sub-nav:hover .sub-nav-content {
    animation: top-nav-appear 0.25s ease-in-out 1s 1 normal forwards;
    /* transform: scaleX(100%); */
}

.nav-items > li{
    display: inline;
}

.contacts {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1031;
}

.contacts > ul > li {
    color: black;
    background: white;
    box-shadow: 0 0 15px white;
    display: inline;
    padding: 0.5rem;
    border-radius: 50% 50% 0 0;
}

.contacts > ul {
    padding: 0.5rem 1rem;
}

.contacts > ul > li > a {
    color: rgba(0,0,0,.5);
}

.contacts > ul > li > a:hover {
    color: rgba(0,0,0,.7);
}

.jumbotron, .list-group, .list-group *, .card * {
    background-color: transparent !important;
}

.card {
    background-size: contain;
    color: #222 !important;
}

input, textarea {
    border: 1px solid #007bff33 !important;
    border-radius: 0 !important;
}

input:focus, textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5) !important;
}

p {
    line-height: 1.5;
}

.project-list a {
    font-size: 1.5rem !important;
}

.project-list > h3::before {
    content: "    \2605";
    color: #007bff;
    opacity: 0.3;
}

.project-list > h3::after {
    content: "\2605";
    color: #007bff;
    opacity: 0.3;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 0;
}

.skills-list > h3 {
    margin: 0 0.5rem;
    padding: 1rem;
    text-align: center;
    color: white;
}

.skills-list > h3:before {
    content: "";
    background: #666;
    box-shadow: 0 0 15px white;
    border-radius: 0.25rem;
    border: 0.25rem solid #555;
    position: absolute;
    display: block;
    width: 100%;
    height: 3rem;
    z-index: -200;
    transform: translate(-1rem, -0.5rem);
}

p a {
    margin: 0;
    border: none;

}

p a, .call a {
    transition: all 0.2s linear;
    text-decoration: none !important;
    line-height: 100%;
}

p a:hover, .call a:hover {
    text-shadow: 0 0 5px white, 0 0 15px white, 0 0 20px white;
    color: #0056b3;
}


.call{
    font-size: 1.5rem;
}

#portfolio .call {
    font-size: 1.1rem;
}

.call button {
    font-weight: 600;
    border: none;
    padding: 0.5rem;
    line-height: 1;
    text-align: center;
    min-width: 65px !important;
    color: #007bff;
}

.call button:focus, .call button:hover {
    text-decoration: underline;
    color: #0056b3;

}

.call button:focus {
    outline: 0;
}
#portfolio a {
    position: relative;
}

#portfolio [aria-label]:after {
    content: attr(aria-label);
    /* display: none; */
    opacity: 0;
    position: absolute;
    /* width: 180px; */
    /* max-width: 150%; */
    top: 100%;
    left: 10%;
    right: -16ch;
    padding: 0.25rem;
    border-radius: 0.25rem;
    white-space: wrap;
    font-size: 0.6rem;
    font-family: Arial;
    background: white !important;
    color: #333 !important;
    box-shadow: #00000044 1px 1px 3px;
    pointer-events: none;
    white-space: normal;
    text-shadow: none;
    text-align: left;
    z-index: 500;
}

#portfolio [aria-label]:hover:after {
    /* display: block; */
    animation: top-nav-appear 0.5s ease-in-out 0.5s 1 normal forwards;
}

/* li[title]:hover:after {
    
} */

.tech {
    display: block;
    font-size: 0.8rem;
    text-align: center;
}

.tech ul {
    display: inline;
}

.tech ul > li {
    display: inline;
    line-height: 100% !important;
}

.tech ul > li > a {
    white-space: nowrap;
}

.tech ul > li:not(:last-child):after {
    content: " | ";
    color: #00000033;
}

footer {
    background-color: transparent;
}

.dots {
    width: 33.3333%;
    left: 16.667;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 4ch;
}

.project {
    position: relative;
    display: block;
    margin: auto;
}

.disappear {
    display: none;
}

/* added the below media queries so that the sun/moon image stops at the middle on smaller devices*/

/* extra-small */
@media (min-width: 0px) and (max-width: 575px) {

    @keyframes rise-mobile {
    from {top: calc(50vh - 50vw);}
    to {top: 100vh;}
    }

    .sun_moon svg {
    animation: rise-mobile 2s ease 0s 1 reverse forwards;
    }

    #navbarNav > ul > li {
    background: none;
    box-shadow: none;
    }

}

.mobile > nav  {
    display: flex;
}

.nav-animation {
    animation: mobile-nav 0.25s ease 0s 1 forwards;
}

footer {
    display: none !important;
}

/* small+ */
@media (min-width: 576px) {

    section, article {
        min-height: 100vh !important;
    }

    footer {
        display: block;
    }

    .mobile > nav {
        display: none;
    }
    
    /* article > div:first-child {
        height: 50ch !important;
    } */
}

@media print {
    a {
        white-space: nowrap;
        text-decoration: none !important;
    }

    a:not(a[href^="mailto:"])::after{
        content: ": " attr(href);
        color: #444;
    }
  }