@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

#root {
    font-family: 'Source Code Pro', monospace;
    --num-projects: 6;
}

:root {
    scroll-behavior: smooth;
}

@keyframes rise {
    from {top: 10vh;}
    to {top: 100vh;}
}

@keyframes mobile-nav {
    from {
        max-height: 100%;
    }
    to {
        max-height: 5px;
    }
}

@keyframes top-nav-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#portfolio article, #about_me > div {
    width: 90%;
    max-width: 1200px;
}

#main_page section:not(#resume):before, #main_page article#toc::before { 
    display: block; 
    content: ''; 
    margin-top: 32px; 
    height: 32px;
    visibility: hidden; 
    pointer-events: none;
}

#main_page .display-1 {
    font-size: clamp(3.5rem, 12vw, 6rem) !important;
}

#main_page .display-2 {
    font-size: clamp(3rem, 10vw, 5rem) !important;
    word-wrap: break-all;
    hyphens: auto;
}

#main_page .display-3 {
    font-size: clamp(2.75rem, 8vw, 4rem) !important;
    word-wrap: break-all;
    hyphens: auto;
}

#main_page .display-4 {
    font-size: clamp(2.25rem, 6vw, 3rem) !important;
    word-wrap: break-all;
    hyphens: auto;
}

#home  .display-4 {
    word-wrap: none;
    hyphens: none;
}

#resume {
    background: hsl(197, 71%, 70%)
}

#main_page p  {
    font-size: clamp(1rem, 6vw, 1.5rem) !important;
}

section {
    position: relative;
}

.frame {
    position: relative;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width: 80%;
    height: auto !important;
    margin-bottom: 0 auto;
    padding-bottom: 2vmin !important;
    border: 3px solid lightgrey;
    padding: 3%;
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;
    background-color: black;
    box-shadow: 0 0 30px grey;
}

.frame:after {
  display: block;
  position: relative;
  top: calc(0.7vmax + 2vmin) !important;
  z-index: 100 !important;
  content: "";
  width: 25%;
  height: 0.7vmax;
  background-image: linear-gradient(90deg,#585858 0%, #707070 5%, #c0c0c0 10%, #c0c0c0 90%, #707070 95%, #585858 100%);
  transform: perspective(10px) rotateX(-1deg);
  border-radius: 0 0 0.5rem 0.5rem;
  margin: 0 auto;
}

.frame img {
    width: 100% !important;
    margin: auto;
    height: auto !important;
    position: relative;
}

.cover {
    display: block;
    position: relative;
    height: 2vmin;
    width: 100%;
    background-color: lightGrey;
    border-radius: 2px;
    background-image: linear-gradient(90deg,grey 0, white 2%, lightGrey 5%, grey 10%, lightGrey 50%, grey 90%, lightGrey 95%, white 98%, grey 100%);
    margin-bottom: 50px;
}

.cover:after {
  content: "";
  display: block;
  position: relative;
  top: 2vmin;
  left: 1%;
  box-shadow: 0 10px 30px;
  width:98%;
  height: 20px;
  background-image: linear-gradient(0deg,#585858 0%, #707070 25%, #c0c0c0 100%);
  transform: perspective(10px) rotateX(-1deg);
  border-radius: 0 0 0.5rem 0.5rem;
}

.sun_moon {
    mix-blend-mode: screen;
    position: relative;
    z-index: 1;
}

.sun_moon svg {
    position: fixed;
    left: calc(50% - 50vw);
    fill: transparent;
    stroke: "none";
    animation: rise 2s ease 0s 1 reverse forwards;
    height: 100vw;
    width: 100vw;
}

.sun_moon > svg > circle {
    fill: gold;
}

#about_me, #skills, #portfolio  {
    background-image: linear-gradient(lightBlue 0%, lightblue 30%, skyBlue 30%, skyBlue 75%, #42a7d6 75%, #42a7d6 100%);
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
}

#portfolio {
    background-repeat: repeat-y;
    background-size: auto calc(100% / var(--num-projects))
}

.me img {
    z-index: 4;
    position: absolute;
    width: auto;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #00000088;
    background-color: #ffffff88;
    shape-outside: circle(50%);
    inset: 0;
    margin: auto;
}

.me {
    width: 100%;
    height: 0;
    position: relative;
    z-index: 4;
    padding-bottom: 100%;
    border-radius: 50%;
    margin-bottom: 2rem;
}

#portfolio article {
    position: relative;
}

#skills {
    min-height: 100vh;
}

section > *, article > * {
    position: relative;
    z-index: 10;
}

#skills * {
    position: relative;
}

#toc {
    background-image: linear-gradient(skyBlue 0%, skyBlue 85%, lightBlue 85%, lightBlue 100%);
}


body {
    background-color: transparent !important;
    background-size: auto 100vmax;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    isolation: isolate;
}

main {
    overflow-x: hidden;
    scroll-snap-type: mandatory !important;
    scroll-snap-points-y: repeat(100vh) !important;
}

main .container-fluid {
    scroll-snap-align: start !important;
} 

footer span {
    /* this simulates a border around the nav text */
    text-shadow: -1px -1px 0 white,  
        1px -1px 0 white,
        -1px  1px 0 white,
        1px  1px 0 white;
    background-color: transparent;
} 

#main_page .mobile {
    min-height: 30px;
    height: auto;
}

#main_page .mobile > nav {
    position: absolute;
    bottom: 0;
    min-height: auto;  
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-content: space-between;
}

#main_page .mobile > nav small {
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 0;
}

#main_page .mobile > nav > ul {
    background: white;
    mix-blend-mode: screen;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid #333;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#main_page .mobile > nav  > ul > li {
    display: inline;
    font-size: x-large;
    width: 25%;
    line-height: 1rem;
}

#main_page .mobile > nav > ul > li > a {
    color: #888;
}

#main_page .mobile > nav > ul > li > a:hover{
    color: black;
    text-decoration: none;
}

#navbarNav > ul > li {
    position: relative !important;
    background-color: white;
    border-radius: 50% 50% 0 0;
    /* box-shadow: 0 0 15px white; */
    width: auto !important;
    float: right;
    z-index: 3;
}

#navbarNav > ul > li.nav-item:hover, .sub-nav:hover {
    background-color: #42a7d6;
}

#navbarNav > ul > li.nav-item:hover > a, .navbar-light .navbar-nav .sub-nav:hover .nav-link {
    color: white;

}

nav * {
    background-color: transparent;
    width: auto;
}

.sub-nav-content {
  overflow: hidden;
  position: absolute;
  right: 1rem;
  width: auto;
  flex-basis: 100%;
  flex-shrink: none !important;
  z-index: 1;
  background-color: #42a7d6;
  justify-content: flex-end;
  flex: row;
  border-radius: 2rem 0 2rem 2rem;
  display: flex !important;
  transition: all 0.25s linear;
  max-height: 0;
  padding-inline: 1.5rem !important;
}

.sub-nav-content > li:hover{
    background-color: white;
}

#navbarNav .sub-nav-content > li.nav-item:hover > a.nav-link{
    color: #42a7d6;
}

#navbarNav > .navbar-nav > .nav-item, .sub-nav{
    border-top: 2px solid #235a7450;
}

#navbarNav > .navbar-nav > .nav-item:first-child {
    border-left: 2px solid #235a7450;
}

#navbarNav > .navbar-nav > .nav-item:last-child {
    border-right: 2px solid #235a7450;
}

.sub-nav {
  float: right;
  overflow: hidden;
  width: auto;
  background-color: white;
  border-radius: 50% 50% 0 0;
  min-width: 0;
}

ul.sub-nav > li {
  left: 10px !important;
  display: inline;
}

.sub-nav:hover .sub-nav-content {
    max-height: 999px;
}

ul.sub-nav-content > li.nav-item > a.nav-link {
    color: white ;
}

/* increases hoverable area above and below the sub navigation */
.sub-nav:hover:after {
    content: '';
    position: absolute;
    top: calc(-50% + 15px);
    left: 0;
    width: 100%;
    height: calc(200% + 15px);
    background: transparent;
    display: block;
    z-index: -1;
  }

.sub-nav {
    z-index: 0;
}

.nav-items > li{
    display: inline;
}

.contacts {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1031;
    margin: 1rem 1rem 0;
}

.contacts > ul > li {
    color: black;
    background: white;
    box-shadow: 0 0 15px white;
    display: inline;
    padding: 0.5rem;
    border-radius: 9999px 9999px 0 0;
    font-size: max(18px, 100%);
    vertical-align: baseline;
    box-shadow: none;
}

.contacts > ul {
    padding: 0;
    margin: 0;
}

.contacts > ul > li > a {
    color: rgba(0,0,0,.5);
    display: inline-block;
    padding: 0.5rem 0;
    margin: 0 0 -0.5rem 0;
    line-height: 2rem;
}

.contacts > ul > li > a:hover {
    color: rgba(0,0,0,.7);
}

.contacts > ul > li:hover {
    background: #42a7d6;
}

.contacts > ul:hover li:first-child {
    padding-bottom: 1.25rem;
}

.contacts > ul > li:hover > a:first-child > i{
    color: whitesmoke;
}

.contacts > ul > li:hover > a:first-child > i {
    color: whitesmoke;
}

.contacts > ul > li a:not(:first-child) {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 0.7rem;
    border-radius: 0 1rem 1rem 1rem;
    padding: 0 0.5rem;
    display: none;
}

.contacts > ul > li:not(:first-child) a:not(:first-child) {
    border-radius: 1rem;
}

.contacts > ul > li:hover > a:not(:first-child) {
    background: #42a7d6;
    color: whitesmoke;
    display: inline;
    white-space: nowrap;
}

.jumbotron, .list-group, .list-group *, .card * {
    background-color: transparent !important;
}

.card {
    background-size: contain;
    color: #222 !important;
}

input, textarea {
    border: 1px solid #007bff33 !important;
    border-radius: 0 !important;
}

input:focus, textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5) !important;
}

p {
    line-height: 1.5;
}

.project-list a {
    font-size: 1.5rem !important;
}

.project-list > h3::before {
    content: "    \2605";
    color: #007bff;
    opacity: 0.3;
}

.project-list > h3::after {
    content: "\2605";
    color: #007bff;
    opacity: 0.3;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 3rem auto;
    max-width: 1024px;
    min-width:  80%;
    align-items: stretch;
}

.skills-list > h4 {
    margin-top: -1rem;
    margin-inline: -1px;
    padding: 1rem;
    text-align: center;
    color: white;
    white-space: nowrap;
}

.skills-list > h4:hover {
    background-color: hsl(147, 100%, 30%);
    border-color: ivory;
}

.skills-list > h4 {
    background: hsl(147, 61%, 50%);
    box-shadow: 0 15px hsl(147, 81%, 40%);
    border-radius: 50% 50% 1rem 1rem;
    position: absolute;
    display: block;
    z-index: -200;
}

p a {
    margin: 0;
    border: none;

}

p a, .call a {
    transition: all 0.2s linear;
    text-decoration: none !important;
    line-height: 100%;
}

p a:hover, .call a:hover {
    text-shadow: 0 0 5px white, 0 0 15px white, 0 0 20px white;
    color: #0056b3;
}


.call{
    font-size: 1.5rem;
}

#portfolio .call {
    font-size: 1.1rem;
}

.call button {
    font-weight: 600;
    border: none;
    padding: 0.5rem;
    line-height: 1;
    text-align: center;
    min-width: 65px !important;
    color: #007bff;
}

.call button:focus, .call button:hover {
    text-decoration: underline;
    color: #0056b3;

}

.call button:focus {
    outline: 0;
}
#portfolio a {
    position: relative;
}

#portfolio [aria-label]:after {
    content: attr(aria-label);
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 10%;
    right: -16ch;
    padding: 0.25rem;
    border-radius: 0.25rem;
    white-space: wrap;
    font-size: 0.6rem;
    font-family: Arial;
    background: white !important;
    color: #333 !important;
    box-shadow: #00000044 1px 1px 3px;
    pointer-events: none;
    white-space: normal;
    text-shadow: none;
    text-align: left;
    z-index: 500;
}

#portfolio [aria-label]:hover:after {
    animation: top-nav-appear 0.5s ease-in-out 0.5s 1 normal forwards;
}

.tech {
    display: block;
    font-size: 0.95rem;
    text-align: center;
}

.tech ul {
    display: inline;
}

.tech ul > li {
    display: inline;
    line-height: 100% !important;
}

.tech ul > li > a {
    white-space: nowrap;
}

.tech ul > li:not(:last-child):after {
    content: " | ";
    color: #00000033;
}

.project-links {
    margin: auto;
    margin-top: 1rem;
    border: 2px solid black;
    background: hsl(34, 57%, 90%);
    width: 14rem;
    border-radius: 2px;
}

footer {
    background-color: transparent;
}

.dots {
    width: 33.3333%;
    left: 16.667;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 4ch;
}

.project {
    position: relative;
    display: block;
    margin: auto;
}

.disappear {
    display: none;
}

/* added the below media queries so that the sun/moon image stops at the middle on smaller devices*/

/* extra-small */
@media (min-width: 0px) and (max-width: 575px) {

    @keyframes rise-mobile {
        from {top: calc(50vh - 50vw);}
        to {top: 100vh;}
    }

    .sun_moon svg {
        animation: rise-mobile 2s ease 0s 1 reverse forwards;
    }

    #navbarNav > ul > li {
        background: none;
        box-shadow: none;
    }

}

#main_page .mobile > nav  {
    display: flex;
}


.nav-animation-appear {
    animation: mobile-nav 0.25s linear 0s 1 reverse backwards;
}

.nav-animation {
    animation: mobile-nav 0.25s linear 0s 1 forwards;
}

footer {
    display: none  !important;
}

/* small+ */
@media (min-width: 576px) {

    footer {
        display: block !important;
    }

    #main_page .mobile > nav {
        display: none;
    }
}

@media print {
    a {
        white-space: nowrap;
        text-decoration: none !important;
    }

    a:not(a[href^="mailto:"])::after{
        content: ": " attr(href);
        color: #444;
    }
  }